pymupdf
unstructured
pytesseract
pdf2image
pillow_heif
pytesseract
pikepdf
google-cloud-aiplatform
google-api-python-client
langchain 
chromadb==0.3.29
pdfplumber
pdfminer.six 
pypdf
docx
python-docx 
langchain_google_genai
aspose-words
plum-dispatch==1.7.4
opencv-python
unstructured_pytesseract
unstructured_inference
langchainhub
llama-cpp-python
ctransformers
pinecone-client
docx2txt
python-pptx
groq
streamlit
openai
openpyxl
pandas
dropbox
jwt
passlib
jose
fastapi
fastapi-jwt-auth
python-decouple
firebase-admin
httpx-oauth
typing
langchain-community
tiktoken
langchain_cohere
sentence_transformers
langchain_openai
rank_bm25
pip install gpt4all