pymupdf
unstructured==0.14.8
pdf2image==1.17.0
hnswlib
pillow_heif===0.16.0
pytesseract
pikepdf
google-cloud-aiplatform
google-api-python-client
langchain==0.1.20
chromadb==0.4.14
pdfplumber
pdfminer.six
pypdf
docx
python-docx==1.1.0
langchain-google-genai==1.0.1
aspose-words
plum-dispatch==1.7.4
opencv-python
unstructured_pytesseract
unstructured_inference
langchainhub==0.1.15
docx2txt
python-pptx
groq
streamlit
openai
openpyxl
pandas
dropbox==11.36.2
pyjwt
passlib
fastapi==0.111.0
fastapi-jwt-auth
python-decouple
firebase-admin
httpx-oauth
typing
nest-asyncio
pyngrok
langchain-openai
langchain-cohere==0.1.1
markdown
pydantic==1.10.11
faiss-cpu==1.8.0
rank_bm25
mysql-connector-python
SQLAlchemy==2.0.29
PyMySQL
pytest
cloudinary
psutil
google-auth-oauthlib
google-auth 